@import "tailwindcss";

body {
    background-image: url(./assets/weatherBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 380px) {
    body {
        height: fit-content;
    }
}