* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-image: url(./assets/weatherBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}